<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Login</servlet-name>
        <servlet-class>packDietVito.Servlet_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistroUsuario</servlet-name>
        <servlet-class>packDietVito.SRegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Actividades</servlet-name>
        <servlet-class>packDietVito.Servlet_Actividades</servlet-class>
    </servlet>
    <!--mapeos-->
    <servlet>
        <servlet-name>S_RActividades</servlet-name>
        <servlet-class>packDietVito.S_RActividades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Alimentos</servlet-name>
        <servlet-class>packDietVito.Servlet_Alimentos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Actividades</servlet-name>
        <url-pattern>/Actividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_RActividades</servlet-name>
        <url-pattern>/SRActividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Alimentos</servlet-name>
        <url-pattern>/Alimentos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--donde empieza la pagina-->
    <welcome-file-list>
        <welcome-file>Inicio.jsp</welcome-file>
    </welcome-file-list>
</web-app>
