<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Login</servlet-name>
        <servlet-class>packDietVito.Servlet_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_RUsuario</servlet-name>
        <servlet-class>packDietVito.S_RUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Actividades</servlet-name>
        <servlet-class>packDietVito.Servlet_Actividades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_RActividades</servlet-name>
        <servlet-class>packDietVito.S_RActividades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Alimentos</servlet-name>
        <servlet-class>packDietVito.Servlet_Alimentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Pesos</servlet-name>
        <servlet-class>packDietVito.Servlet_Pesos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_RPesos</servlet-name>
        <servlet-class>packDietVito.S_RPesos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_RAlimentos</servlet-name>
        <servlet-class>packDietVito.S_RAlimentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_ActRealizadas</servlet-name>
        <servlet-class>packDietVito.S_ActRealizadas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_AlimConsumidos</servlet-name>
        <servlet-class>packDietVito.S_AlimConsumidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_CerrarSesion</servlet-name>
        <servlet-class>packDietVito.S_CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_PesosYo</servlet-name>
        <servlet-class>packDietVito.Servlet_PesosYo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_ActRealizadasYo</servlet-name>
        <servlet-class>packDietVito.S_ActRealizadasYo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_AlimConsumidosYo</servlet-name>
        <servlet-class>packDietVito.S_AlimConsumidosYo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_RUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Actividades</servlet-name>
        <url-pattern>/Actividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_RActividades</servlet-name>
        <url-pattern>/SRActividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Alimentos</servlet-name>
        <url-pattern>/Alimentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Pesos</servlet-name>
        <url-pattern>/Pesos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_RPesos</servlet-name>
        <url-pattern>/RPesos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_RAlimentos</servlet-name>
        <url-pattern>/RAlimentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_ActRealizadas</servlet-name>
        <url-pattern>/SActRealizadas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_AlimConsumidos</servlet-name>
        <url-pattern>/SAlimConsumidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_PesosYo</servlet-name>
        <url-pattern>/PesosYo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_ActRealizadasYo</servlet-name>
        <url-pattern>/ActRealizadasYo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_AlimConsumidosYo</servlet-name>
        <url-pattern>/AlimConsumidosYo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--donde empieza la pagina-->
    <welcome-file-list>
        <welcome-file>Inicio.jsp</welcome-file>
    </welcome-file-list>
</web-app>
